@media screen and (max-width: 459px) {
    h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 333px) {
    h1 {
        font-size: 1.5em;
    }
    .header {
        height: 75px;
    }
    .header-logo {
        width: 30px;
        height: 30px;
    }
    .welcome-row {
        margin-top: 0px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 850px;
    }
}